{{ attach_library('<%= themeName %>/toggle') }}
<button {{ data }}="{{ data_options }}" class="{{ class }} toggle" type="button" href={{ target }}>
  <span class="bar bg-warning"></span>
  <span class="bar bg-warning"></span>
  <span class="bar bg-warning"></span>
  <span class="bar bg-warning"></span>
</button>
