{{ attach_library('<%= themeName %>/toggle') }}
<button {{ data }}="{{ data_options }}" class="{{ class }} toggle" type="button" href={{ target }}>
  <div class="bars">
    <span class="bar bg-warning"></span>
    <span class="bar bg-warning"></span>
    <span class="bar bg-warning"></span>
    <span class="bar bg-warning"></span>
  </div>
  {% if (theme_settings.<%= themeName %>_toggle_text) %}
    <span class="toggle-text d-block mx-2">{{ theme_settings.<%= themeName %>_toggle_text }}</span>
  {% endif %}
</button>
